In [1]:
s = 'VS code'
if s == 'VS code':
    print('파이썬 개발환경')
else:
    print('다른 개발환경')

파이썬 개발환경

In [2]:
n= 20 
if n%2 == 0:
        print('짝수')

짝수

In [3]:
n =21
if n%2 == 0:
        print('짝수')

In [4]:
age = 8
if age >= 20:
        print('성인')
else:
        print('미성년자')

미성년자

In [5]:
age = 21
if age >= 20:
    print('성인')
else:
    print('미성년자')

성인

In [6]:
age = 18 
s = '성인' if age >= 20 else '미성년자'
print(s)

미성년자

In [7]:
age = 20
s = '성인' if age >= 20 else '미성년자'
print(s)

성인

In [10]:
point = 92 
if (90 <= point):
    print('A')
elif (80 <= point):
    print('B')
elif (70 <= point):
    print('C')
elif (60 <= point):
    print('D')
else:
    print('F')

A

In [11]:
point = 62
if (90 <= point):
    print('A')
elif 80 <= point:
    print('B')
elif 70 <= point:
    print('C')
elif 60 <= point:
    print('D')
else:
    print('F')

D

In [13]:
value = "apple"
match value:
    case 'apple':
        result = "사과"
    case 'banana':
        result = "바나나"
        
print(result)

사과

In [14]:
value = "banana"
match value:
    case 'apple':
        result ="사과"
    case'banana':
        result="바나나"
    case _:
        result = None
        
print(result)

바나나

In [15]:
value = "mango"

match value:
    case 'apple':
        result ='사과'
    case 'banana':
        result='바나나'
    case _:
        result=None
        
print(result)

None

In [16]:
for x in range(1,6):
    print(x)

1
2
3
4
5

In [17]:
num = [10,20,30,40]
for i  in num:
    print(i)

10
20
30
40

In [18]:
fruits = list(["apple", 2500, "banana", 500, "mango", 2000])
for x in fruits:
    print(x)

apple
2500
banana
500
mango
2000

In [20]:
i =1
sum = 0
while i <= 10:
    sum += i
    i += 1

print(sum)

55

In [21]:
def hello():
    print('Hello, python!')

In [22]:
hello()

Hello, python!

In [23]:
hello

In [24]:
type(hello)

function

In [25]:
def hi(one):
    print('안녕', one)

In [26]:
hi('영희')

안녕 영희

In [27]:
hi

In [28]:
str(hi)

'<function hi at 0x000001FC889BB1A0>'

In [31]:
def hi(one = '친구들'):
    print('안녕', one)

In [32]:
hi()

안녕 친구들

In [34]:
hi('철수')

안녕 철수

In [35]:
import math as m 
def circle_area(r = 1):
    print(m.pi * r**2)

In [36]:
circle_area()

3.141592653589793

In [37]:
circle_area(4.5)

63.61725123519331

In [38]:
circle_area(r=5.6)

98.5203456165759

In [39]:
print(circle_area(r = 7.2))

162.8601631620949
None

In [41]:
import math as m
def circle_area(r=1):
    return m.pi * r**2

print(circle_area(r = 7.2))

162.8601631620949

In [42]:
def sum_sub(x, y):
    hap = x + y
    cha = x - y
    return hap, cha

In [43]:
sum_sub(10,3)

(13, 7)

In [44]:
sum_sub(x = 10, y = 3)

(13, 7)

In [46]:
sum_sub ( y = 3, x = 10)

(13, 7)

In [48]:
import math as m 
(lambda a, b: m.sqrt(a**2 + b**2))(3,4)

5.0

In [54]:
lst = [10,20,30]
print(lst, type(lst))

[10, 20, 30] <class 'list'>

In [55]:
list(['java', 'python', 'R'])

TypeError: 'list' object is not callable

In [57]:
print(list(range(5)))
print(list(range(1,10,2)))

TypeError: 'list' object is not callable

In [58]:
lst = [1,3.92,3>4,'list']
print(lst[0], lst[2])

1 False

In [53]:
lst[2:4]

[False, 'list']

In [59]:
print(lst[2:])
print(lst[:4])
print(lst[-1:-4:-1])

[False, 'list']
[1, 3.92, False, 'list']
['list', False, 3.92]

In [60]:
import math as m
a = [m.pi, 30, 10 > 4, 'list',lambda x: x**3]
a.append('py')
a

[3.141592653589793, 30, True, 'list', <function __main__.<lambda>(x)>, 'py']

In [61]:
def add2(x,y):
    return x + y

a.insert(1, add2)
a[1],(10,20)

(<function __main__.add2(x, y)>, (10, 20))

In [62]:
a

[3.141592653589793,
 <function __main__.add2(x, y)>,
 30,
 True,
 'list',
 <function __main__.<lambda>(x)>,
 'py']

In [63]:
a.remove(30)

In [64]:
a.pop()

'py'

In [65]:
a

[3.141592653589793,
 <function __main__.add2(x, y)>,
 True,
 'list',
 <function __main__.<lambda>(x)>]

In [66]:
my_list = [x for x in range(10)]

In [67]:
[x for x in range(10) if x%2 ==1 ]

[1, 3, 5, 7, 9]

In [68]:
['even' if i%2 == else 'odd' for i in range(1,11)]

SyntaxError: expected 'else' after 'if' expression (3532601036.py, line 1)

In [69]:
[[i for j in range(5)]for i in range(3)]

[[0, 0, 0, 0, 0], [1, 1, 1, 1, 1], [2, 2, 2, 2, 2]]

In [70]:
[[j for j in range(i, i+6)]for i in range(3)]

[[0, 1, 2, 3, 4, 5], [1, 2, 3, 4, 5, 6], [2, 3, 4, 5, 6, 7]]

In [72]:
mart = {'라면': 1200, '음료수': 1500, '과자': 800}
print(mart, type(mart))

{'라면': 1200, '음료수': 1500, '과자': 800} <class 'dict'>

In [74]:
print(mart['라면'])
print(mart['과자'])
print(mart['음료수'])

1200
800
1500

In [75]:
data = {1: '일', 3.14: 2.71, (1,2): '튜플', 'list': [1, 2, 3]}
data

{1: '일', 3.14: 2.71, (1, 2): '튜플', 'list': [1, 2, 3]}

In [76]:
data = {1: '일', 3.14: 2.71, [1, 2]: '리스트', 'list':[1,2,3]}

TypeError: unhashable type: 'list'

In [77]:
f_cnt = dict((('apple',2), ('banana', 5),('orage', 3)))
f_cnt

{'apple': 2, 'banana': 5, 'orage': 3}

In [78]:
f_price = dict(apple=4000, banana = 300, orange=2000)
f_price

{'apple': 4000, 'banana': 300, 'orange': 2000}

In [79]:
mart = {'라면':1200, '음료수': 1500, '과자': 800}
mart['삼각김밥'] = 1700
mart

{'라면': 1200, '음료수': 1500, '과자': 800, '삼각김밥': 1700}

In [80]:
mart['과자'] = 900
mart

{'라면': 1200, '음료수': 1500, '과자': 900, '삼각김밥': 1700}

In [81]:
mart.keys()

dict_keys(['라면', '음료수', '과자', '삼각김밥'])

In [82]:
mart.values()

dict_values([1200, 1500, 900, 1700])

In [83]:
mart.items()

dict_items([('라면', 1200), ('음료수', 1500), ('과자', 900), ('삼각김밥', 1700)])

In [84]:
tp1 = 1,2,3
tp2 =(10,20,30)
print(tp1, tp2)

(1, 2, 3) (10, 20, 30)

In [85]:
tp3 = tuple((10,20,30))
tp4 = tuple(['py', 'R'])
print(tp3,tp4)

(10, 20, 30) ('py', 'R')

In [89]:
tuple1 = (1,2,3)
tuple2 = (4,5,6)
concatnated_tuple =tuple1 + tuple2
concatnated_tuple

(1, 2, 3, 4, 5, 6)

In [90]:
basket = {'apple', 'orange', ' apple', 'pear'}
basket

{' apple', 'apple', 'orange', 'pear'}

In [91]:
len(basket)

4

In [93]:
print('grape' in basket)
print('apple' in basket)

False
True

In [94]:
A={1,2,3,4}
B={3,4,5,6,7}
print(A.union(B))
print(A.intersection(B))
print(A.difference(B))
print(B.difference(A))
print(A.symmetric_difference(B))

{1, 2, 3, 4, 5, 6, 7}
{3, 4}
{1, 2}
{5, 6, 7}
{1, 2, 5, 6, 7}

In [95]:
print(hash([1,2,3]))

TypeError: unhashable type: 'list'

In [96]:
print(hash({'one':1}))

TypeError: unhashable type: 'dict'

In [97]:
print(hash('py'), hash((1,2)))

6498283353205547481 -3550055125485641917

In [98]:
help(id)

Help on built-in function id in module builtins:

id(obj, /)
    Return the identity of an object.

    This is guaranteed to be unique among simultaneously existing objects.
    (CPython uses the object's memory address.)

In [99]:
x,y = 10,10
print(id(x),id(y))

140722559318744 140722559318744